.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
  color: var(--text-main);
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  gap: clamp(6rem, 20vw, 14rem);
  background-color: var(--bg-header);
  border-bottom: 1px solid var(--border-soft);
  /* min-height: 96px; */
  /* background: linear-gradient(
    to bottom,
    rgba(11, 18, 32, 0.95),
    rgba(11, 18, 32, 0.75)
  );
  backdrop-filter: blur(6px); */
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent);
  margin-right: 6rem;
  /* margin-left: 0.5rem; */
}

.logo-img {
  height: 96px;
  width: auto;
}

/* Navigatin bar */
.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar a {
  color: var(--text-muted);
  opacity: 0.85;
}

.navbar a:hover {
  color: var(--text-main);
  text-decoration: none;
}

.login-btn {
  padding: 0.4rem 0.9rem;
  border: 1px solid var(--accent);
  border-radius: 6px;
  color: var(--accent) !important;
}

.login-btn:hover {
  background-color: var(--accent);
  color: #fff !important;
}

/* Content */
.layout-content {
  flex: 1;
  padding: 0;
  display: block;
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}

/* Footer */
.layout-footer {
  /* flex-direction: column; */
  /* gap: 0.75rem; */
  background-color: var(--bg-footer);
  border-top: 1px solid var(--border-soft);
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.footer-copy {
  
  opacity: 0.6;
  color: var(--text-muted);
  font-size: 0.8rem;
}

.footer-links {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.footer-links a {
  color: var(--text-muted);
}

.footer-links a:hover {
  color: var(--accent);
  text-decoration: none;
}


/* mobile */
@media (max-width: 768px) {
  .layout-header {
    flex-direction: column;
    gap: 1rem;
  }
  
  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .layout-content {
    padding: 1.5rem 1rem;
  }
}
