# Database Configuration
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=transcendence_password
POSTGRES_DB=transcendence
DATABASE_URL=postgresql://transcendence:transcendence_password@db:5432/transcendence

# Backend Configuration
PORT=3000
NODE_ENV=development
CADDY_HOST=10.12.7.1
CORS_ORIGIN=https://localhost,https://10.12.7.1
GAME_SERVICE_URL=https://game:8000
API_BASE_URL=https://localhost
ASSET_BASE_URL=https://localhost

# JWT Configuration
JWT_ACCESS_SECRET=81e45a029595019d2fd5cecbeab157a617488f72d4abda778418c521b3b2e2bed9f0264eafa67ecbb413f3ac6ced703c894dc1faa57ee6c89abe05ad519c08c5
JWT_REFRESH_SECRET=035c7695ade1a6dcff50a397c18b99d9efadfd148b587bf0e1d46eb5637e939d4ba8bde28b9b099bd0faf93881d9ca58805ea140215edf09c2c59d112e217118
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
SERVICE_API_KEY=super_secret_internal_key

# OAuth 42 Configuration (optional - get from 42 intra)
OAUTH_42_CLIENT_ID=u-s4t2ud-ab613e1fd2f41ede4a1f471d3720f4ebf4da4445767825312e4cdf62f48896f0
OAUTH_42_CLIENT_SECRET=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
OAUTH_42_CALLBACK_URL=https://localhost/api/auth/42/callback

# frontend
VITE_API_BASE_URL=/api
VITE_WS_BASE_URL=