# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Backend Configuration
PORT=
NODE_ENV=
CADDY_HOST=
CORS_ORIGIN=
GAME_SERVICE_URL=
API_BASE_URL=
ASSET_BASE_URL=

# JWT Configuration
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=
SERVICE_API_KEY=

# OAuth 42 Configuration (optional - get from 42 intra)
OAUTH_42_CLIENT_ID=
OAUTH_42_CLIENT_SECRET=
OAUTH_42_CALLBACK_URL=

# frontend
VITE_API_BASE_URL=
