.layout-footer {
    width: 100%;
    background-color: var(--bg-footer);
    border-top: 1px solid var(--border-soft);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: 0.9rem;
    color: var(--text-muted);
  }
  
.footer-links {
    display: flex;
    gap: 1rem;
}

.footer-links a {
    color: var(--text-muted);
    /* text-decoration: none; */
}
  
.footer-links a:hover {
    color: var(--accent);
    text-decoration: none;
}