.navbar {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  /* margin-left: auto; */
  /* padding: var(--space-4) var(--space-6);
  background-color: var(--bg-main);
  border-bottom: 1px solid var(--border-soft); */
}

.navbar a {
  /* text-decoration: none; */
  color: var(--text-muted);
}

.navbar a:hover {
  text-decoration: none;
  color: var(--text-main);
}

/* .navbar a.active {
  color: var(--accent);
  background-color: rgba(0, 0, 0, 0.04);
} */

.login-btn {
  padding: 0.4rem 0.9rem;
  border: 1px solid var(--accent);
  border-radius: 6px;
  color: var(--accent) !important;
}

.login-btn:hover {
  background-color: var(--accent);
  color: #fff !important;
}
