.friends {
  font-family: 'Inter', sans-serif;
  color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f172a;
  padding: 20px;
}

.friends-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 600px;
}

.card {
  background: rgba(30, 41, 59, 0.9);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 180px;
}

.card h2 {
  margin-bottom: 15px;
  font-size: 20px;
  border-bottom: 1px solid #334155;
  padding-bottom: 5px;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.search-bar input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid #334155;
  background: #1e293b;
  color: #f1f5f9;
}

.search-bar button {
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  background: #2563eb;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.search-bar button:hover {
  background: #1d4ed8;
}

.user-list,
.friends-list,
.requests-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 35vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.user-item,
.friend-item,
.request-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 12px 15px;
  border-radius: 12px;
  transition: 0.2s;
}

.user-item:hover,
.friend-item:hover,
.request-card:hover {
  background: #334155;
}

.user-item button,
.remove-btn,
.accept-btn,
.reject-btn,
.pending-btn,
.cancel-btn {
  padding: 5px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
  font-size: 12px;
}

.user-item button {
  background: #2563eb;
}

.user-item button:hover {
  background: #1d4ed8;
}

.pending-btn {
  background: #94a3b8;
  cursor: not-allowed;
  /* margin-right: 5px; */
}

.cancel-btn {
  background: #ef4444;
}

.cancel-btn:hover {
  background: #dc2626;
}

.remove-btn {
  background: #ef4444;
}

.remove-btn:hover {
  background: #dc2626;
}

.accept-btn {
  background: #22c55e;
}

.accept-btn:hover {
  background: #16a34a;
}

.reject-btn {
  background: #ef4444;
}

.reject-btn:hover {
  background: #dc2626;
}

.friend-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}

.status-dot.online {
  background-color: #22c55e;
  box-shadow: 0 0 2px #22c55e, 0 0 6px #16a34a50;
  border: 2px solid #0f172a;
}

.status-dot.offline {
  background-color: #64748b;
  border: 2px solid #1e293b;
}

.friend-name {
  font-weight: 500;
  font-size: 16px;
}

.no-requests {
  font-style: italic;
  color: #94a3b8;
}

.request-actions {
  display: flex;
  gap: 5px;
}
